<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>运动项目</title>
    <script src="/js/jquery-1.7.2.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- 弹窗组件-->

    <script src="/js/zDrag.js"></script>
    <script src="/js/zDialog.js"></script>
    <script src="/js/jquery.tips.js"></script>

    <script src="/js/jquery-ui.js"></script>
    <script src="/js/bootbox.min.js"></script>
    <!--视频插件video-->
    <script src="/js/videojs-ie8.min.js"></script>
    <script src="/js/video.min.js"></script>
    <link href="/css/video-js.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.css"/>

    <link rel="stylesheet" href="/css/jquery-ui.css"/>
    <link rel="stylesheet" href="/css/jquery-ui.structure.css"/>
    <link rel="stylesheet" href="/css/jquery-ui.theme.css"/>
    <style type="text/css">
        ul{
            list-style: none;
        }
        ul li:hover{
            cursor: pointer;
        }
    </style>
    <script type="text/javascript">
        $(function(){
            var myPlayer = videojs('my-video');
            var watchTime2 = $("#watchTime").html();
            var finishStatus = $("#finishStatus").html();
            myPlayer.currentTime(watchTime2);//设置播放进度
            myPlayer.on("pause", function(){
                var nowVideoId = $("#nowVideoId").html();
                var watchTime = myPlayer.currentTime();//获取当前播放进度
                if(myPlayer.currentTime()==myPlayer.duration()){
                    $("div[role='slider']").css("display","block");
                    if(finishStatus==0){
                        $.ajax({
                            type : "POST",
                            url : "/sportPlanController/updateSportPlanFinishStatus",
                            data :{"id":nowVideoId,"watchTime":watchTime},
                            success : function(data) {
                                window.location.href="/sportPlanController/getSportPlans"
                            }
                        });
                    }

                }else{
                    $.ajax({
                        type : "POST",
                        url : "/sportPlanController/updateSportPlanWatchTime",
                        data :{"id":nowVideoId ,"watchTime":watchTime},
                        success : function(data) {

                        }
                    });
                }
            });
            myPlayer.on("firstplay", function(){
                if(finishStatus=="1"){
                    $("div[role='slider']").css("display","block");
                }else{
                    $("div[role='slider']").css("display","none");
                }
            });

            $(".li").each(function(){
                $(this).click(function(){
                    var id = $(this).find("span").eq(7).html();
                    window.location.href="/sportPlanController/getSportPlans?id="+id;
                });
            });
        });
    </script>
</head>
<body style="background-color: black;">
    <!--https://edge.flowplayer.org/bauhaus.mp4 640 240-->
    <div style="background-color: #2b2b2b;line-height: 50px;color: gainsboro;padding-left:16px;" id="name" th:text="${sportSortName}"></div>
    <div class="m" style="width:100%;border:1px solid blue;background-color: white;">
        <video id="my-video" class="video-js vjs-big-play-centered" controls="auto" width="800" height="424" style="border:1px solid red;background-color:black;margin-left:auto;margin-right: auto;"
               poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
            <source th:src="${url}" type="video/mp4" id="v"/>
            <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm"/>
            <source src="http://vjs.zencdn.net/v/oceans.ogv" type="video/ogg"/>
        </video>

    </div>
    <div>
        <ul style="color: gainsboro;">
            <li th:each="sportPlan:${sportPlans}" class="li">
                <span th:text="${sportPlan.number}"></span>
                <span>、</span>
                <span th:text="${sportPlan.sportSortName}"></span>
                <span th:text="${sportPlan.url}"></span>
                <span style="width: 25px;height: 23px;display: inline-block;"><img th:if="${sportPlan.finishStatus==0}" src="/img/wrong.png" class="img"/></span>
                <span><img  th:if="${sportPlan.finishStatus==0}" src="/img/right_hui.png" style="width: 25;height: 23;"/></span>
                <span><img  th:if="${sportPlan.finishStatus==1}" src="/img/right_blue.png" style="width: 25;height: 23;"/></span>
                <span th:text="${sportPlan.id}" style="display: none;"></span>
            </li>
        </ul>
    </div>
    <div id="nowVideoId" style="border:1px solid red;display: none;" th:text="${sportPlanId}"></div>
    <div id="watchTime" th:text="${watchTime}" style="display: none;"></div>
    <div id="finishStatus" th:text="${finishStatus}" style="display: none;"></div>
</body>
</html>